<table class="table">
  <thead>
    <tr>
      <th style="width: 10%"></th>
      <th style="width: 15%">ユーザー名</th>
      <th style="width: 50%">紹介文</th>
      <th style="width: 25%">フォローボタン</th>
    </tr>
  </thead>

  <% users.each do |user| %>
    <tbody>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg',
                                          fallback: "no_image.jpg", size: '60x60', class: 'img' %>
        </td>
        <td>
          <%= link_to user.name, user_path(user), class: 'link-color' %>
        </td>
        <td>
          <%= user.introduction %>
        </td>
        <td>
          <%= render 'users/follow_form', user: user %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>