<div class="row">
  <div class="col-md-3">
    <%= render 'left', user: @user %>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <h3 class="text-center">ユーザー一覧</h3>
    <table class="table">
      <% @users.each do |user| %>
      <thead>
        <tr>
          <th style="width: 10%"></th>
          <th style="width: 15%">ユーザー名</th>
          <th style="width: 50%">紹介文</th>
          <th style="width: 25%">フォローボタン</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg',
                                            fallback: "no_image.jpg", size: '60x60', class: 'img' %>
          </td>
          <td>
            <%= link_to user.name, user_path(user), class: 'text-secondary' %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>