<div class="row">
  <div class="col-md-3">
    <%= render 'left', user: @user %>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <h3 class="text-center">投稿一覧</h3>
    <%= render 'posts/index', posts: @user.posts %>
  </div>

</div>
