<div class="center jumbotron p-4">
  <h1 class="text-center">Comedy World</h1>
  <p class="text-center">
    自分の思いついたギャグや大喜利をつぶやこう！<br>
    大好きな芸人について語って仲間を増やそう！！
  </p>
  <div class="text-center">
    <%= link_to "Sign Up", "#", class: 'btn btn-info' %>
  </div>
</div>

